.megaMenu {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: $megaMenuMobileBG;
    display: none;
    z-index: 2;
    top: 73px;
    @media only screen and (max-width: 980px) {
        border-top: 6px solid $primaryColor;
        padding: 24px;
        position: static;
        height: 400px;
        overflow-y: scroll;
    }
    p {
        color: $paragraphShade;
    }
    .mm-left {
        background-color: $darkBG;
        color: $parWhite;
        text-align: left;
        padding: 48px 25px 62px;
        width: 100%;
        hr {
            border: 0;
            border-bottom: 1px solid $lineBorderColor;
            margin: 20px 0;
        }
        .mm-left-colored {
            font-weight: bold;
            color: $primaryColor;
            margin-bottom: 10px;
        }
        .mm-left-white {
            font-weight: bold;
            margin-bottom: 10px;
            color: $parWhite;
            a {
                color: $parWhite;
                padding: {
                    left: 0;
                    right: 0;
                }
                @include linkHover;
            }
        }
    }
    .mm-right {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: left;
        padding: 50px 10px;
        @media only screen and (max-width: 980px) {
            flex-direction: column;
            padding: 24px 0 0;
        }
        a {
            color: $parWhite;
            @media only screen and (max-width: 980px) {
                padding: 0;
            }
        }
        ul {
            width: 100%;
            li {
                width: 100%;
                margin-bottom: 8px;
                &:last-child {
                    margin-bottom: 0;
                }
                ul {
                    margin-top: 10px;
                }
                li {
                    a {
                        font-weight: normal;
                        color: $paragraphShade;
                        @include linkHover;
                    }
                }
                a {
                    @include linkHover;
                }
            }
        }
        >ul {
            @media only screen and (max-width: 980px) {
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid $lineBorderColor;
            }
            &:last-child {
                @media only screen and (max-width: 980px) {
                    border-bottom: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
}