.our-retainer {
    padding-bottom: 110px;
    .cta-temp1 {
        width: 731px;
        max-width: 100%;
        @media only screen and (max-width: 980px) {
            padding-left: 15px;
            padding-right: 15px;
            text-align: left;
        }
    }
    .wrapper {
        width: 952px;
        @media only screen and (max-width: 980px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    h1 {
        margin-bottom: 24px;
    }
    h3 {
        margin-bottom: 8px;
    }
    h4 {
        font-weight: bold;
        padding: 12px 0;
        @media only screen and (max-width: 980px) {
            font-size: 14px;
        }
    }
    .retainer-table {
        table {
            width: 100%;
        }
        tr {
            @media only screen and (max-width: 980px) {
                display: block;
            }
        }
        th,
        td {
            position: relative;
            border: 1px solid $inputBorderColor;
            vertical-align: top;
            @media only screen and (max-width: 980px) {
                width: 25% !important;
                float: left;
            }
            &:not(:first-of-type) {
                width: 100px;
                &:not(th) {
                    // padding: 18px 0;
                    text-align: center;
                    height: 62px;
                }
            }
            &:first-of-type {
                width: 528px;
                padding: 0;
                @media only screen and (max-width: 980px) {
                    display: block;
                    width: 100% !important;
                }
                &:not(th) {
                    background-color: $shadeColor;
                }
                p {
                    @extend .faq-title;
                    padding: 0;
                    color: $darkShade;
                    font-weight: 600;
                    &:not(.faq-title):after {
                        display: none;
                    }
                }
                .faq-content {
                    p {
                        font-size: 14px;
                        font-weight: normal;
                        padding: {
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 13px;
                        }
                    }
                }
            }
            .check-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                position: absolute;
                width: 100%;
                height: 100%;
                @media only screen and (max-width: 980px) {
                    height: 62px !important;
                }
            }
        }
        th {
            &:first-of-type {
                @media only screen and (max-width: 980px) {
                    display: none;
                }
            }
        }
    }
    .faq-title {
        color: $headerColor;
        padding: {
            top: 13px;
            bottom: 13px;
            left: 16px;
            right: 70px;
        }
        &::after {
            top: 50%;
        }
    }
    .faq-content {
        padding: {
            top: 24px - 13px;
            left: 16px;
            right: 16px;
            bottom: 0;
        }
    }
}