.testimonials {
    background-color: $darkBG;
    padding: 120px 0;
    color: $parWhite;
    h2 {
        color: $parWhite;
        margin-bottom: 35px;
    }
    h4 {
        color: rgba($color: $parWhite, $alpha: 0.8);
        width: 1000px;
        max-width: 100%;
    }
    .quotations-row {
        @media only screen and (min-width: 981px) {
            display: flex;
            flex-direction: row;
            padding: 25px 0;
        }
    }
    .testimonial {
        @media only screen and (max-width: 980px) {
            padding: 25px 0;
        }
        @media only screen and (min-width: 981px) {
            margin-right: 50px;
        }
        p {
            &:not(.name) {
                font-style: italic;
                color: $paragraphShade
            }
            &.name {
                font-weight: 600;
                margin-top: 8px;
            }
        }
        span {
            color: $primaryColor;
            font-size: 24px;
        }
    }
}

.testimonialType1 {
    background-color: $darkBG;
    .two-cols-inner {
        color: $paragraphShade;
        @media only screen and (min-width: 981px) {
            display: flex;
            flex-direction: row-reverse;
        }
        h2 {
            text-align: right;
            color: $parWhite;
            font-style: italic;
            padding-left: 20px;
            @media only screen and (max-width: 980px) {
                text-align: left;
                margin-bottom: 24px;
                padding-left: 0;
            }
        }
        p {
            font-style: italic;
        }
        span {
            color: $primaryColor;
        }
        .name {
            color: $parWhite;
            font-size: 14px;
            font-style: normal;
        }
    }
}